Faker                                       
requests                        
robotframework
robotframework-appiumlibrary
robotframework-faker            
robotframework-pythonlibcore    
robotframework-requests         
robotframework-seleniumlibrary  
robotframework-sshlibrary       
robotframework-notifications   
selenium                                            
